version: "3"
services:
  app:
    restart: unless-stopped
    container_name: hnl_app
    env_file:
      # - .env.mongo
      - Dockerfiles/envs/.env.postgres
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.app
    ports:
      - 8000:8000
    volumes:
      - .:/app/
    depends_on:
      - postgres
    networks:
      - app_network
    entrypoint: "./entrypoint.app.sh"

  postgres:
    restart: unless-stopped
    container_name: hnl__postgres
    image: postgres:14.5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - Dockerfiles/envs/.env.postgres
    networks:
      - app_network

networks:
  app_network:
volumes:
  postgres_data: