{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'classroom/css/time_table.css' %}>
    <title>Time Table</title>
</head>
<body>
        {{ request_user_id|json_script:"request_user_id" }}
        {{ requested_user_id|json_script:"requested_user_id" }}
        {{ days_data|json_script:"days_data" }}

        <div class="day time">
            <div class="day_title">
                <form method="get" action="">
                    {% csrf_token %}
                    <button type="button" class="save-schedule">Save</button>
                </form>
            </div>
            <div class="hour">0:00 - 1:00</div>
            <div class="hour">1:00 - 2:00</div>
            <div class="hour">2:00 - 3:00</div>
            <div class="hour">3:00 - 4:00</div>
            <div class="hour">4:00 - 5:00</div>
            <div class="hour">5:00 - 6:00</div>
            <div class="hour">6:00 - 7:00</div>
            <div class="hour">7:00 - 8:00</div>
            <div class="hour">8:00 - 9:00</div>
            <div class="hour">9:00 - 10:00</div>
            <div class="hour">10:00 - 11:00</div>
            <div class="hour">11:00 - 12:00</div>

        </div>

        <div class="day monday">
            <div class="day_title week_days">Monday</div>
        </div>

        <div class="day tuesday">
            <div class="day_title week_days">Tuesday</div>

        </div>

        <div class="day wednesday">
            <div class="day_title week_days">Wednesday</div>

        </div>

        <div class="day thursday">
            <div class="day_title week_days">Thursday</div>

        </div>

        <div class="day friday">
          <div class="day_title week_days">Friday</div>

        </div>

        <div class="day saturday">
            <div class="day_title week_days">Saturday</div>

          </div>

          <div class="day sunday">
            <div class="day_title week_days">Sunday</div>

          </div>

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="{% static 'classroom/js/time_table.js' %}"></script>

      <script src="{% static 'classroom/js/time_table.js' %}"></script>

</body>
</html>