{% extends 'blog/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block link %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="{% static 'main.css'  %}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
{% endblock link %}

{% block content %}

    <div class="container-fluid h-100">
        {% csrf_token %}
        <div class="row justify-content-center h-100" style="width: 100%">
            <div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
                    <div class="input-group">
                        <input type="text" placeholder="Search..." name="" class="form-control search">
                        <div class="input-group-prepend">
                            <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <ul class="contacts">
                    {% for user in connected_users %}
                        <li class="active">
                            <div onclick="changeChat('{{ request.user.username }}', '{{ user.username }}', '{{ host }}')"
                                 class="d-flex bd-highlight">
                                <div class="img_cont">
                                        <img src="{% get_media_prefix %}{{ user.image }}" alt="lecturer-image"
                                             class="rounded-circle user_img">
                                    <span class="online_icon"></span>
                                </div>
                                <div class="user_info">
                                    <span>{{ user.username }}</span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                {% if details %}
                    <div class="card-header msg_head">

                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="{{ details.user_image }}" alt="lecturer-image"
                                     class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>Chat with {{ details.chatting_with }}</span>
                                <p>{{ details.messages_count }} Messages</p>
                            </div>
                        </div>

                        <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                        <div class="action_menu">
                            <ul>
                                <li><i class="fas fa-user-circle"></i> View profile</li>
                                <li><i class="fas fa-users"></i> Add to close friends</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body msg_card_body">
                        {% for message in details.messages %}
                            {% if request.user.username == message.sender__username %}
                                <div class="d-flex justify-content-end mb-4">
                                    <div class="msg_cotainer_send">
                                        {{ message.message }}
                                        <span class="msg_time_send">{{ message.format_time }}</span>
                                    </div>
                                </div>
                            {% else %}
                                <div class="d-flex justify-content-start mb-4">
                                    <div class="msg_cotainer">
                                        {{ message.message }}
                                        <span class="msg_time">{{ message.format_time }}</span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="card-footer">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                            </div>
                            <textarea name="" class="form-control type_msg" id="input" placeholder="Type your message..."></textarea>

                            <div class="input-group-append">
                                <button type="button" class="btn btn-success" id="submit">Send</button>

                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>

        </div>
    </div>

    {{ details.wss_url|json_script:"wss_url" }}
    {{ details.chatting_with|json_script:"chatting_with" }}
    {{ request.user.username|json_script:"request_username" }}
    {{ is_seen|json_script:"is_seen" }}

    <script>
        const wss_url = JSON.parse(document.getElementById('wss_url').textContent);
        const chatting_with = JSON.parse(document.getElementById('chatting_with').textContent);
        const request_username = JSON.parse(document.getElementById('request_username').textContent);
        const is_seen = JSON.parse(document.getElementById('is_seen').textContent);
        get_last_msg()

        function changeChat(request_user, chat_member, host){
            location.href = `http://${window.location.host}/chatroom/inbox/chat_room/?request_user=${request_user}&chat_member=${chat_member}`
        }

        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/chat/' + wss_url + '/'
        )

        document.querySelector("#submit").onclick = function () {
            let message = $('textarea#input')
            if (message.val() !== '') {
                chatSocket.send(
                    JSON.stringify({
                        'message': message.val(),
                        'sender': request_username,
                        'receiver': '{{ details.chatting_with }}',
                    })
                )
                message.val('');
            }
        }

        document.querySelector("#input").focus();
        document.querySelector("#input").onkeyup = function (e){
            if(e.keyCode == 13){
                let spanEl = document.getElementById("seenAlert");
                if (spanEl != null){
                    spanEl.remove();
                }
                document.querySelector("#submit").click();
            }
        }
        function get_last_msg() {
            let messages_count = 0;
            if (messages_count > 0){
                let messagesClass = document.getElementsByClassName("d-flex mb-4");
                let firstElement = (messagesClass[messagesClass.length - 1]).children[0];
                let span = document.createElement("span");
                span.setAttribute("style", "font-size:10px");
                span.setAttribute("id", "seenAlert");
                if (firstElement.className === "msg_cotainer_send") {
                    if (is_seen === true) {
                        span.innerHTML = "&#10003" + "seen";
                        firstElement.appendChild(span);
                    }
                }
              }
        }

        function getDate(){
            const monthNames = ["January", "February", "March", "April", "May", "June",
                                "July", "August", "September", "October", "November", "December"];
            const today = new Date();
            const date = today.getDate()+'-'+monthNames[(today.getMonth()+1)]
                + ', ' + today.getHours() + ':' + today.getMinutes();
            return date
        }

        chatSocket.onmessage = function (e){

            const data = JSON.parse(e.data);
            console.log(data);
            console.log(request_username);
            let send_msg_container = document.createElement("div");
            let msg_container = document.createElement("div");
            let time_span = document.createElement("span");
            time_span.innerHTML = getDate();
            msg_container.innerHTML = data.message;
            msg_container.appendChild(time_span);
            send_msg_container.appendChild(msg_container);

            if (data.username == request_username){
                send_msg_container.setAttribute("class", "d-flex justify-content-start mb-4")
                time_span.setAttribute('class', 'msg_time');
                msg_container.setAttribute("class", "msg_cotainer")
                document.getElementsByClassName("msg_card_body")[0].appendChild(send_msg_container)
            }
            else {
                send_msg_container.setAttribute("class", "d-flex justify-content-end mb-4")
                time_span.setAttribute('class', 'msg_time_send');
                msg_container.setAttribute("class", "msg_cotainer_send")
                document.getElementsByClassName("msg_card_body")[0].appendChild(send_msg_container)
            }
        }


    </script>

{% endblock content %}