.card {
  width: 400px;
  border: none;
  border-radius: 10px;
  background-color: #fff
}

.stats {
  background: #f2f5f8 !important;
  color: #000 !important
}

.articles {
  font-size: 15px;
  color: #a1aab9
}

.number1 {
  font-size: 10px;
  font-weight: 500
}


#teachersDemo {
  width: min-content;
  display: inline-block;
}